In [1]:
import pandas as pd

In [3]:
df_cell = pd.read_csv('/share/ymz/valisProject/tmp/Image_222476-P1-01.vsi - 20x_01_cells.tsv', sep='\t', usecols=['Centroid X µm', 'Centroid Y µm'])
df_cell.head()

   Centroid X µm  Centroid Y µm
0        22820.0         5974.5
1        22795.3         5978.1
2        22784.4         5977.4
3        22809.1         5981.3
4        22825.6         5983.8

In [4]:
df_cell

        Centroid X µm  Centroid Y µm
0             22820.0         5974.5
1             22795.3         5978.1
2             22784.4         5977.4
3             22809.1         5981.3
4             22825.6         5983.8
...               ...            ...
419315        25328.6        15165.8
419316        25347.5        15168.8
419317        25328.3        15177.9
419318        25381.9        15185.0
419319        25275.0        15198.2

[419320 rows x 2 columns]

In [7]:
cell_xy = df_cell.to_numpy()

In [9]:
pd.DataFrame(cell_xy, columns=['Warped Centroid X µm', 'Warped Centroid Y µm'])

        Warped Centroid X µm  Warped Centroid Y µm
0                    22820.0                5974.5
1                    22795.3                5978.1
2                    22784.4                5977.4
3                    22809.1                5981.3
4                    22825.6                5983.8
...                      ...                   ...
419315               25328.6               15165.8
419316               25347.5               15168.8
419317               25328.3               15177.9
419318               25381.9               15185.0
419319               25275.0               15198.2

[419320 rows x 2 columns]

In [1]:
from valis import registration
regist_pth = '/home/yuanmingze/results/results_mIF_175/P1_2023-10-18-233335/P1/data/P1_registrar.pickle'

In [2]:
# import os
# ls_crop = sorted(os.listdir('/public/share/ymz/valisProject/data/mIF_175_converted_cropped/images'), key=lambda x: int(x[1:]))

In [3]:
# ls_all = os.listdir('/public/share/ymz/valisProject/data/mIF_175_organized')

In [2]:
regist = registration.load_registrar(regist_pth)

In [14]:
regist.original_img_list

['/share/ymz/valisProject/data/mIF_175_organized/P1/_Image_222554-P1-03_/stack1/frame_t.ets',
 '/share/ymz/valisProject/data/mIF_175_organized/P1/_Image_222591-P1-05_/stack1/frame_t.ets',
 '/share/ymz/valisProject/data/mIF_175_organized/P1/_Image_222476-P1-01_/stack1/frame_t.ets',
 '/share/ymz/valisProject/data/mIF_175_organized/P1/_Image_222573-P1-04_/stack1/frame_t.ets',
 '/share/ymz/valisProject/data/mIF_175_organized/P1/_Image_222815-P1-02_/stack1/frame_t.ets']

In [15]:
slide_obj = regist.get_slide('/share/ymz/valisProject/data/mIF_175_organized/P1/_Image_222476-P1-01_/stack1/frame_t.ets')

In [11]:
slide_obj

In [16]:
slide_obj.warp_xy(xy=(22820, 5874.5), crop='overlap')

array([[ 16740.61238735,  54715.11157534]])

In [ ]:
import pandas as pd

# cell_seg = pd.read_